body {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(179, 141, 214);
} 

/*estilos del heard*/
header {
    background-color: blueviolet;
    color:rgb(169, 58, 202);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color:rgb(144, 137, 206);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
 nav a:hover{
    text-decoration: underline;
 }

 /*estilos seccion hero */
 .hero {
    background: url('imagen2.jpg') no-repeat center center/ cover;
    color:rgb(110, 14, 101);
    text-align: center;
    padding: 80px 20px;
    position: relative;
 }

 .hero  .overlay{
    background-color: rgb(95, 25, 83) (0, 0, 0, 0.6);
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
 }

 .hero h2 {
    font-size: 2.5rem;
 }

 .hero p {
    font-size: 1.2rem;
    margin: 10px 0;
 }

 .button {
    background-color: rgb(189, 23, 106);
    color: aliceblue;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
 }

 .button:hover {
    background-color: antiquewhite;
 }

 /* features*/
 .features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
 }
  
 .features .feature {
    text-align: center;
    width:  30%;
 }

 /* contacto */
 .contact-main{
   background: url('imagen1.jpg') no-repeat center center/cover;
   color: blanchedalmond;
   padding: 50px 20px;
   position: relative;
 }

 .form-section {
    background: rgba(red, green, blue, alpha); /* semi-transparent background */
    color: aqua; /* text color */
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px red(0, 0, 0, 0.1);
 }

 .form-section label {
    font-weight:  bold;
    margin-bottom: 5px;
    display: block;
 }

 .form-section input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
 }

 /*galleria*/
 .gallery .grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
 }

 .gallery img {
    width: 100%;
    height: auto;
    border-radius:  8px;
    box-shadow: 0 4px 8px rebeccapurple (0, 0, 0, 0.2);
 }

 /* footer */
 footer {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
 }